body {
    background:url(../../BgFile/image/backgroundDEFAULT.png);
    /* 背景图垂直、水平均居中 */
    background-position: left top;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;

}

#myVideo {
    position: fixed; /* 保持固定定位 */
    top: 0;          /* 设置顶部距离为 0 */
    left: 0;         /* 设置左侧距离为 0 */
    min-width: 100%; /* 确保宽度至少为 100% */
    min-height: 100%; /* 确保高度至少为 100% */
    opacity: 0;
}
  