body {
    background:url(../BgFile/image/backgroundDEFAULT.png);
    /* 背景图垂直、水平均居中 */
    background-position: left top;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;

}

#bgVideo {
    position: fixed;     
    top: 0;               
    left: 0;              
    width: 100vw;         
    height: 100vh;        
    object-fit: cover;    
    z-index: -1;          
    opacity: 0;          
}

  
#copyright {
    position: absolute;
    bottom: 5%;
    right: 0%;
    z-index: 50000;
    display: block;
    text-align: right;
    color: white;
    border: 15px solid rgba(0, 0, 0, 0);
    border-style: none none none solid;
    font-weight: 1;
    font-size: 1rem;
    font-family: 楷体;
    background-color: rgba(0, 0, 0, 0.3);
}
